<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @picture.image.url %>
</p>

<p>
  <%= @picture.text %>
</p>

<%= link_to 'Edit', edit_album_picture_path(:id => @picture) %> |
<%= link_to 'Back', album_pictures_path %>
